{% extends 'base.html' %}

{% block content %}

<div class="text-center">
    <h3 class="my-5">Business</h3>
</div>
<div class="row"  style="height:400px">
    <div class="col-3 my-5 container">
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3 class="card-title">Business</h3>
                <p class="card-text">Business all the way</p>
                <a href="" class="btn btn-primary -center">Comment</a>
            </div>
        </div>
    </div>
    <div class="col-3 my-5 container">
        <div class="card" style="width: 15rem;">
            <h3 class="card-title">hhhh</h3>
            <p class="card-text">Business</p>
            <a href="" class="btn btn-primary -center">Comment</a>
        </div>

    </div>

    <div class="col-3 my-5 container">
        <div class="card" style="width: 15rem;">
            <h3 class="card-title">cccdc</h3>
            <p class="card-title">Business</p>
            <a href="" class="btn btn-primary -center">Comment</a>
        </div>
    </div>

<div class="col-3">
    {% include "new_pitch.html" %}
</div>

</div>



{% endblock %}