<footer class="pt-5 pb-4 bg-info px-3">
    <div class="mx-0 row align-items-center">
        <div class="col-sm-4">
            <h1> Pitches</h1>
        </div>
        <div class="text-white order-3 order-md-2 mt-md-0 mt-5 text-center col-md-4">
            © 2022
            <p>Lorna Mwaura</p>
        </div>
        <div class="col-sm-8 col-md-4 order-2 order-md-3 mt-md-0 mt-5">
            <a href="{{ url_for('main.index') }}" class="pe-2 text-white">Home</a>
            <a href="{{ url_for('auth.register') }}" class="px-2 text-white">Register</a>
            <a href="{{ url_for('auth.login') }}" class="px-2 text-white">Login</a>
        </div>
    </div>
</footer>