<p class="font-weight-bold text-dark">New Pitch</p>
        <form class="ui form" action="/add" method="post">
        <div class="field">
            <input type="text" name="title" placeholder="Add new pitch..."><br>
        </div>
        <button class="ui blue button" type="submit">Add</button>
    </form>
    <br>
<br>
    <!-- {% for pitch in pitch_list %}
    <div>
        <p>{{pitch.title}}</p>

        {% if pitch.complete == False %} 
            <span> Not Complete </span>
        
        {% else %}
            <span> Complete </span>

        {% endif %}


    </div>

    {% endfor %} -->


</div>

    </div>
    </div> 

